.privacyTableWrapper {
  width: 95%;
  overflow-x: auto;
  margin: 24px 0;
}

.privacyTable {
  width: 100%;
  border-collapse: collapse;
  background: none;
  color: #aaa;
  font-size: 15px;
  min-width: 400px;
  
}

.privacyTable th,
.privacyTable td {
  border: 1px solid #333;
  padding: 16px 12px;
  text-align: left;
  vertical-align: top;
  vertical-align: middle;
}

.privacyTable th {
  background: #232323;
  font-weight: 700;
  font-size: 16px;
}

.modaltext {
    margin-bottom: 20px;
    margin-right: 20px;
    color: #aaa;
}